ion-tabs {
    background-color: var(--ion-background-color);
}
ion-tab-bar {
    background-color: var(--ion-background-color);
}

ion-tab-button {
    background-color: var(--ion-background-color);
}
