<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="medium">Pexels API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">


    <div class="text-container">
      <ion-text>
        <p>
          A Pexels API permite acessar a vasta biblioteca de fotos e vídeos
          gratuitos do Pexels. Com essa API, podemos integrar imagens de alta
          qualidade e vídeos em sites ou aplicativos. Com a API, podemos buscar
          imagens com palavras chaves.
        </p>
      </ion-text>

    </div>

    



</ion-content>