<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora II</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Gustavo Graciano
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div id="foto">
        <img src="https://avatars.githubusercontent.com/u/66232093?v=4"/>
      </div>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-text>Gustavo Graciano</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Matrícula:</ion-label>
        <ion-text>22202997</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>